@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(249, 249, 249, 0.5), rgba(255, 255, 255, 0)); 
}

.container {
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
}

.container form {
  padding: 20px;
  width: 700px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(68, 68, 68, 0.1);
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 250px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}
  
.container form .row .col .inputBox {
  margin: 15px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  border-radius: 10px;
  background: green;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: rgb(239, 255, 239);
}
.container form .row .col .inputBox select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
  text-transform: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white;
}

.container form .row .col .inputBox select:focus {
  border: 1px solid #000;
}
