@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400');

body {
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    padding: 0;
    background-color: #ced3dc;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.map-container {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.contact-info {
    flex: 1;
    min-width: 300px;
}

.contact-info h2 {
    color: #a31621;
}

.contact-info p, .contact-info address {
    color: #333;
}
